.relative {
  position: relative;
}

.absolute-center {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.absolute-left {
  position:absolute;
}

.container {
  position: relative;
}
.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 1vw;
}
.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 1vw;
}
.bottomleft {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 1vw;
}
.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 1vw;
}



.btn {
	background-color: DodgerBlue;
	border: none;
	color: white;
	padding: 12px 30px;
	cursor: pointer;
	font-size: 20px;
}


/* Darker background on mouse-over */

.btn:hover {
	background-color: RoyalBlue;
}

canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.container div {
	display: inline-block;
}


/* basic positioning */


* {
	box-sizing: border-box;
}

@media (min-width:500px) {
	.caption-2 .action-footer {
		margin: 0;
		position: relative;
		bottom: 0;
		height: 10%;
		width: 100%;
	}
}

@media only screen and (max-width:800px) {
	/* For tablets: */
	.main {
		width: 80%;
		padding: 0;
	}
	.right {
		width: 100%;
	}
}

@media only screen and (max-width:500px) {
	/* For mobile phones: */
	.menu,
	.main,
	.right {
		width: 100%;
	}
}
.modal-dialog {

  /* other stuff we already covered */

  width: 600px;
  max-width: 100%;
	height: 100%;

}
.introright {
		border:1px solid #ccc;
		width:600px;
		height:508px;
		position: absolute;
		top:180px;
		left:600px;
		background-color: #f7f7f7;
		color: #444343;
		font-family: avenir;
		font-size: 17px;
}
.modal {
  top:100px;
  overflow: hidden;
  overflow-y: hidden;
}
.modal-content {
  background-position: top center;
}
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: fixed;
}

#myDIV1 {
	height: 73vh;
	font-size: 1.5vw;
		display : block;
	  border-left: 10px solid red;
	  background-color: lightgrey;
		padding: 20px 50px;
}
#myDIV2 {
	height: 73vh;
	font-size: 1.5vw;
		display : none;
	  border-left: 10px solid red;
	  background-color: lightgrey;
		padding: 20px 50px;
}
#myDIV3 {
	height: 73vh;
	font-size: 1.5vw;
		display : none;
	  border-left: 10px solid red;
	  background-color: lightgrey;
		padding: 20px 50px;
}
#myDIV4 {
	height: 73vh;
	font-size: 1.5vw;
		display : none;
	  border-left: 10px solid red;
	  background-color: lightgrey;
		padding: 20px 50px;
}
#myDIV5 {
	height: 73vh;
	font-size: 1.5vw;
	display : none;
	  border-left: 10px solid red;
	  background-color: lightgrey;
		padding: 20px 50px;
}
#myDIV6 {
	height: 73vh;
	font-size: 1.5vw;
		display : none;
	  border-left: 10px solid red;
	  background-color: lightgrey;
		padding: 20px 50px;
}
#myDIV7 {
	height: 73vh;
	font-size: 1.5vw;
		display : none;
	  border-left: 10px solid red;
	  background-color: lightgrey;
		padding: 20px 50px;
}
#myDIV8 {
	height: 73vh;
	font-size: 1.5vw;
		display : none;
	  border-left: 10px solid red;
	  background-color: lightgrey;
		padding: 20px 50px;
}
#myDIV9 {
	height: 73vh;
	font-size: 1.5vw;
		display : none;
	  border-left: 10px solid red;
	  background-color: lightgrey;
		padding: 20px 50px;
}

#chartarea1 {
  height: 100vw;
}
