.maindiv {
  text-align: left;
  font-size: 16px;
  font-family: Verdana;
  position: relative;
  margin: auto;
  font-family: Calibri, sans-serif;
  padding: 20px;
}
.lb {
  text-align: left;
  font-size: 14px;
  font-family: Calibri, sans-serif;
  font-weight: normal;
  color: black;
  position: relative;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  padding: 10px;
  font-family: Bebas Neue, Arial;
  text-align: center;
  color: white;
  background: black;
  background-size: cover;
  letter-spacing: 1px;
  word-spacing: 2px;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  font-family: Calibri, sans-serif;
  color: black;
}

.responsive {
  width: 100%;
  height: auto;
}

td {
  align-items: center;
}

fieldset {
  overflow: hidden;
}

.some-class {
  float: left;
  clear: none;
}

label {
  float: left;
  font-size: 15px;
  font-family: Calibri, sans-serif;
  font-weight: normal;
  color: black;
  clear: none;
  display: block;
  position: relative;
  padding-left: 6px;
  padding-right: 18px;
}

input[type='radio'],
input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}
